*{
    font-family: "Winky Sans", sans-serif;
    color: black;
    margin: 0;
    padding: 0;

}
.carousel-item {
    background-size: cover;
    background-position: center;
  }
  .carousel-caption {
    bottom: 40%;
  }
  .carousel-caption h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
  }

  /* Here i am writing code for the latest news */
  .fixed-card {
    width: 400px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
  }

  .card-img-top {
    width: 400px;
    height: 250px;
    object-fit: wrap; /* wrap image without cropping */
  }

  .read-more-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
  }